
<div >
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
    	<% if user.avatar_url.nil? %>
			<img id="avatar" class="user_index_image" alt="profile pic" src= <%=asset_path('profile-pic.jpg')%> >
		<%else%>
    	<%= image_tag user.avatar_url(:display) %><br />
    	<% end %>

      
      <div class="caption">
        <h3><%= link_to user.name+" "+user.last_name, user %></h3>
        <p>Field of Work: <%= user.works_in%> </p>
      </div>
    </div>
  </div>
</div>


<!--if user.name.nil? then user.name elsif ¨Noname¨+" "+if user.last_name.nil? then user.last_name elsif ¨Noname¨-->