<div class= "col-md-3" >
	
	<span class="profile-picture">
		<img id="avatar" class="editable img-responsive" alt="profile pic" src= <%=asset_path('project.gif')%> >
	</span>
</div>
<div class="jumbotron col-md-6">
  <h1><%= @project.name %></h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
